acordtransformation/src/test/resources/Component_Schemas_With_Codes/ServiceWrappers.xsd

<?xml version="1.0" encoding="UTF-8"?>
 <!--
 
   ====================================================================== 
   =====  ACORD Property Casualty Schema - Service Wrappers                        
   =====  
   ====================================================================== 
   Standard Organization: ACORD
   Version: 2.2.0
   Generated on: 06/30/2017
   
   COPYRIGHT NOTICE:
   (c) 2001-2017 ACORD.  All Rights Reserved.
   
   IMPORTANT NOTE: This document contains or relates to ACORD Standard Property & Casualty/Surety. You are not 
   authorized to use the ACORD Standard contained in this document unless you have accepted the terms and 
   conditions of the Standards License.
   
   
   
   http://www.ACORD.org
 
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.acord.org/schema/PC/xml/2" elementFormDefault="unqualified" attributeFormDefault="unqualified" targetNamespace="http://www.acord.org/schema/PC/xml/2" version="2.2.0">
  <xsd:include schemaLocation="BusinessMessages.xsd"/>
  <xsd:annotation xmlns="http://www.acord.org/schema/PC/xml/2">
    <xsd:appinfo>
      <version>2.2.0</version>
      <status>Released</status>
      <genDate>Fri Jun 30 08:46:21 2017</genDate>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml-ns.xsd">
    <xsd:annotation>
      <xsd:documentation>Get access to the xml: attribute groups for xml:lang</xsd:documentation>
    </xsd:annotation>
  </xsd:import>
  <xsd:complexType name="AccountingSvcRq_Type">
    <xsd:sequence>
      <xsd:element ref="ItemIdInfo" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="RqUID" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="SPName" minOccurs="0" maxOccurs="1"/>
      <xsd:group ref="ACCOUNTINGSVCRQMSGS" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AccountingSvcRs_Type">
    <xsd:sequence>
      <xsd:element ref="Status" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="ItemIdInfo" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="RqUID" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="SPName" minOccurs="0" maxOccurs="1"/>
      <xsd:group ref="ACCOUNTINGSVCRSMSGS" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ACORD_Type">
    <xsd:choice>
      <xsd:group ref="ACORDREQ" minOccurs="1" maxOccurs="1"/>
      <xsd:group ref="ACORDRSP" minOccurs="1" maxOccurs="1"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="BaseSvcRq_Type">
    <xsd:sequence>
      <xsd:element ref="ItemIdInfo" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="RqUID" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="SPName" minOccurs="0" maxOccurs="1"/>
      <xsd:group ref="BASESVCRQMSGS" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BaseSvcRs_Type">
    <xsd:sequence>
      <xsd:element ref="Status" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="ItemIdInfo" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="RqUID" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="SPName" minOccurs="0" maxOccurs="1"/>
      <xsd:group ref="BASESVCRSMSGS" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClaimsSvcRq_Type">
    <xsd:sequence>
      <xsd:element ref="ItemIdInfo" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="RqUID" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="SPName" minOccurs="0" maxOccurs="1"/>
      <xsd:group ref="CLAIMSSVCRQMSGS" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClaimsSvcRs_Type">
    <xsd:sequence>
      <xsd:element ref="Status" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="ItemIdInfo" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="RqUID" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="SPName" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="MsgSeqNumber" minOccurs="0" maxOccurs="1"/>
      <xsd:group ref="CLAIMSSVCRSMSGS" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClientApp_Type">
    <xsd:sequence>
      <xsd:element ref="Org" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="Name" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="Version" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CommonSvcRq_Type">
    <xsd:sequence>
      <xsd:element ref="ItemIdInfo" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="RqUID" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="SPName" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="MsgSeqNumber" minOccurs="0" maxOccurs="1"/>
      <xsd:group ref="COMMONSVCRQMSGS" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CommonSvcRs_Type">
    <xsd:sequence>
      <xsd:element ref="Status" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="ItemIdInfo" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="RqUID" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="SPName" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="MsgSeqNumber" minOccurs="0" maxOccurs="1"/>
      <xsd:group ref="COMMONSVCRSMSGS" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustId_Type">
    <xsd:sequence>
      <xsd:element ref="SPName" minOccurs="1" maxOccurs="1"/>
      <xsd:group ref="CUSTOMERID_CHOICE" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustPswd_Type">
    <xsd:sequence>
      <xsd:element ref="EncryptionTypeCd" minOccurs="1" maxOccurs="1"/>
      <xsd:group ref="PSWDENTITY" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DeleteUserRq_Type">
    <xsd:sequence>
      <xsd:element ref="ItemIdInfo" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="RqUID" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="TransactionRequestDt" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CustId" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DeleteUserRs_Type">
    <xsd:sequence>
      <xsd:element ref="ItemIdInfo" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="RqUID" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="TransactionRequestDt" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="TransactionResponseDt" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="MsgStatus" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InsuranceSvcRq_Type">
    <xsd:sequence>
      <xsd:element ref="ItemIdInfo" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="RqUID" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="SPName" minOccurs="0" maxOccurs="1"/>
      <xsd:group ref="INSURANCESVCRQMSGS" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InsuranceSvcRs_Type">
    <xsd:sequence>
      <xsd:element ref="MsgSeqNumber" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="Status" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="ItemIdInfo" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="RqUID" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="SPName" minOccurs="0" maxOccurs="1"/>
      <xsd:group ref="INSURANCESVCRSMSGS" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProxyClient_Type">
    <xsd:sequence>
      <xsd:element ref="Org" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="Name" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="Version" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SignoffRq_Type">
    <xsd:sequence>
      <xsd:element ref="CustId" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SignoffRs_Type">
    <xsd:sequence>
      <xsd:element ref="Status" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="CustId" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SignonCert_Type">
    <xsd:sequence>
      <xsd:element ref="SignonRoleCd" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="CustId" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="Certificate" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="GenSessKey" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SignonPswd_Type">
    <xsd:sequence>
      <xsd:element ref="SignonRoleCd" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="CustId" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CustPswd" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="GenSessKey" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="PIN" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SignonRq_Type">
    <xsd:sequence>
      <xsd:group ref="SIGNONENTITY" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="ClientDt" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CustLangPref" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="ClientApp" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="ProxyClient" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="SuppressEcho" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SignonRs_Type">
    <xsd:sequence>
      <xsd:element ref="Status" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="SignonRoleCd" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="CustId" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="GenSessKey" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="ClientDt" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CustLangPref" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="ClientApp" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="ProxyClient" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="ServerDt" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="SessKey" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="ExpDt" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="Language" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SignonTransport_Type">
    <xsd:sequence>
      <xsd:element ref="SignonRoleCd" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="CustId" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="GenSessKey" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Status_Type">
    <xsd:sequence>
      <xsd:element ref="StatusCd" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="StatusDesc" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SuretySvcRq_Type">
    <xsd:sequence>
      <xsd:element ref="ItemIdInfo" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="RqUID" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="SPName" minOccurs="0" maxOccurs="1"/>
      <xsd:group ref="SURETYSVCRQ_CHOICE" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SuretySvcRs_Type">
    <xsd:sequence>
      <xsd:element ref="Status" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="ItemIdInfo" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="RqUID" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="SPName" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:group ref="SURETYSVCRS_CHOICE" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:group name="ACCOUNTINGSVCRQMSGS">
    <xsd:choice>
      <xsd:element ref="BillingInqRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="BillingCancelReinstateNotifyRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="BillingNotifyRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="BillingNotifyModRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="BindingAuthorityPremiumTransactionReportNotify" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="BindingAuthorityClaimTransactionReportNotify" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="BindingAuthorityRiskBoundReportNotify" minOccurs="1" maxOccurs="1"/>
    </xsd:choice>
  </xsd:group>
  <xsd:group name="ACCOUNTINGSVCRSMSGS">
    <xsd:choice>
      <xsd:element ref="BillingInqRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="BillingCancelReinstateNotifyRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="BillingNotifyRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="BillingNotifyModRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="BindingAuthorityPremiumTransactionReportNotifyRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="BindingAuthorityClaimTransactionReportNotifyRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="BindingAuthorityRiskBoundReportNotifyRs" minOccurs="1" maxOccurs="1"/>
    </xsd:choice>
  </xsd:group>
  <xsd:group name="ACORDREQ">
    <xsd:sequence>
      <xsd:element ref="SignonRq" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="BaseSvcRq" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="InsuranceSvcRq" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element ref="SuretySvcRq" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element ref="ClaimsSvcRq" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element ref="AccountingSvcRq" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element ref="CommonSvcRq" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element ref="SignoffRq" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="ACORDRSP">
    <xsd:sequence>
      <xsd:element ref="Status" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="SignonRs" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="BaseSvcRs" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="InsuranceSvcRs" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element ref="SuretySvcRs" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element ref="ClaimsSvcRs" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element ref="AccountingSvcRs" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element ref="CommonSvcRs" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element ref="SignoffRs" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="BASESVCRQMSGS">
    <xsd:choice>
      <xsd:element ref="DeleteUserRq" minOccurs="1" maxOccurs="1"/>
    </xsd:choice>
  </xsd:group>
  <xsd:group name="BASESVCRSMSGS">
    <xsd:choice>
      <xsd:element ref="DeleteUserRs" minOccurs="1" maxOccurs="1"/>
    </xsd:choice>
  </xsd:group>
  <xsd:group name="CLAIMSSVCRQMSGS">
    <xsd:choice>
      <xsd:element ref="ClaimActivityNotify" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="ClaimDownloadNotify" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="ClaimsNotificationAddRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="ClaimStatusInqRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="LossRunInqRq" minOccurs="1" maxOccurs="1"/>
    </xsd:choice>
  </xsd:group>
  <xsd:group name="CLAIMSSVCRSMSGS">
    <xsd:choice>
      <xsd:element ref="ClaimActivityNotifyRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="ClaimDownloadNotifyRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="ClaimsNotificationAddRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="ClaimStatusInqRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="LossRunInqRs" minOccurs="1" maxOccurs="1"/>
    </xsd:choice>
  </xsd:group>
  <xsd:group name="COMMONSVCRQMSGS">
    <xsd:choice>
      <xsd:element ref="ViewInqRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="ActivityNoteNotify" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="VehicleTelematicsNotify" minOccurs="1" maxOccurs="1"/>
    </xsd:choice>
  </xsd:group>
  <xsd:group name="COMMONSVCRSMSGS">
    <xsd:choice>
      <xsd:element ref="ViewInqRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="ActivityNoteNotifyRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="VehicleTelematicsNotifyRs" minOccurs="1" maxOccurs="1"/>
    </xsd:choice>
  </xsd:group>
  <xsd:group name="CUSTOMERID_CHOICE">
    <xsd:choice>
      <xsd:sequence>
        <xsd:element ref="CustPermId" minOccurs="1" maxOccurs="1"/>
        <xsd:element ref="CustLoginId" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
      <xsd:sequence>
        <xsd:element ref="CustLoginId" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:choice>
  </xsd:group>
  <xsd:group name="INSURANCESVCRQMSGS">
    <xsd:choice>
      <xsd:element ref="PolicyRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PolicyNotify" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PolicyRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="DwellFirePolicyAddRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="DwellFirePolicyQuoteInqRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="HomePolicyAddRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="HomePolicyQuoteInqRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PersAutoPolicyAddRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PersAutoPolicyQuoteInqRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PersInlandMarinePolicyAddRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PersInlandMarinePolicyQuoteInqRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PersPkgPolicyAddRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PersPkgPolicyQuoteInqRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PersUmbrellaPolicyAddRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PersUmbrellaPolicyQuoteInqRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="WatercraftPolicyAddRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="WatercraftPolicyQuoteInqRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="BOPPolicyAddRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="BOPPolicyQuoteInqRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlAutoPolicyAddRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlAutoPolicyQuoteInqRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlDriverScheduleSubmitRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlNamedInsuredAndLocationScheduleSubmitRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlPropertyScheduleSubmitRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlUmbrellaUnderlyingCoverageScheduleSubmitRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlAutoScheduleSubmitRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="ErrorsAndOmissionsPolicyAddRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="ErrorsAndOmissionsPolicyQuoteInqRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="GeneralLiabilityScheduleSubmitRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="WorkCompPolicyAddRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="WorkCompPolicyQuoteInqRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="WorkCompScheduleSubmitRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="DwellFirePolicyModRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="HomePolicyModRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PersAutoPolicyModRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PersInlandMarinePolicyModRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PersPkgPolicyModRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PersUmbrellaPolicyModRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="WatercraftPolicyModRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="BOPPolicyModRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlAutoPolicyModRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="ErrorsAndOmissionsPolicyModRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="WorkCompPolicyModRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="DirectorsAndOfficersPolicyAddRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="DirectorsAndOfficersPolicyQuoteInqRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="DirectorsAndOfficersPolicyModRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="WorkCompProofCoverageAddRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="WorkCompProofCoverageModRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PolicySyncRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="GeneralLiabilityPolicyAddRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="GeneralLiabilityPolicyModRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="GeneralLiabilityPolicyQuoteInqRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlPropertyPolicyAddRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlPropertyPolicyModRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlPropertyPolicyQuoteInqRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlPkgPolicyAddRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlPkgPolicyModRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlPkgPolicyQuoteInqRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="EPLIPolicyAddRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="EPLIPolicyModRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="EPLIPolicyQuoteInqRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="ViewInqRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="FarmPolicyQuoteInqRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="FarmPolicyAddRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="FarmPolicyModRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlUmbrellaPolicyAddRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlUmbrellaPolicyQuoteInqRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlUmbrellaPolicyModRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PremiumAuditNotificationAddRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="BoilerMachineryPolicyAddRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="BoilerMachineryPolicyModRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="BoilerMachineryPolicyQuoteInqRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CrimePolicyAddRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CrimePolicyQuoteInqRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CrimePolicyModRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlInlandMarinePolicyAddRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlInlandMarinePolicyModRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlInlandMarinePolicyQuoteInqRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="AircraftPolicyAddRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="AircraftPolicyModRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="AircraftPolicyQuoteInqRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="AirportFBOPolicyAddRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="AirportFBOPolicyModRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="AirportFBOPolicyQuoteInqRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="AviationPkgPolicyAddRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="AviationPkgPolicyModRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="AviationPkgPolicyQuoteInqRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="HangarLiabilityPolicyAddRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="HangarLiabilityPolicyModRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="HangarLiabilityPolicyQuoteInqRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="ProductsLiabilityPolicyAddRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="ProductsLiabilityPolicyModRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="ProductsLiabilityPolicyQuoteInqRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="AircraftPolicyFullImageNotify" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="AirportFBOPolicyFullImageNotify" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="HangarLiabilityPolicyFullImageNotify" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="AviationPkgPolicyFullImageNotify" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="BoilerMachineryPolicyFullImageNotify" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="BOPPolicyFullImageNotify" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlAutoPolicyFullImageNotify" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlInlandMarinePolicyFullImageNotify" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlPkgPolicyFullImageNotify" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlPropertyPolicyFullImageNotify" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CrimePolicyFullImageNotify" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="DirectorsAndOfficersPolicyFullImageNotify" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="EPLIPolicyFullImageNotify" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="ErrorsAndOmissionsPolicyFullImageNotify" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="GeneralLiabilityPolicyFullImageNotify" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="ProductsLiabilityPolicyFullImageNotify" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlUmbrellaPolicyFullImageNotify" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="WorkCompPolicyFullImageNotify" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="DwellFirePolicyFullImageNotify" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="HomePolicyFullImageNotify" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PersAutoPolicyFullImageNotify" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PersInlandMarinePolicyFullImageNotify" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PersPkgPolicyFullImageNotify" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PersUmbrellaPolicyFullImageNotify" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="WatercraftPolicyFullImageNotify" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="FarmPolicyFullImageNotify" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="VehicleInsuranceInqRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="FinancialResponsibilityNotify" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PolicyQuoteInqResendRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CyberLiabilityPolicyAddRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CyberLiabilityPolicyFullImageNotify" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CyberLiabilityPolicyModRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CyberLiabilityPolicyQuoteInqRq" minOccurs="1" maxOccurs="1"/>
    </xsd:choice>
  </xsd:group>
  <xsd:group name="INSURANCESVCRSMSGS">
    <xsd:choice>
      <xsd:element ref="PolicyRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="DwellFirePolicyAddRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="DwellFirePolicyQuoteInqRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="HomePolicyAddRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="HomePolicyQuoteInqRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PersAutoPolicyAddRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PersAutoPolicyQuoteInqRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PersInlandMarinePolicyAddRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PersInlandMarinePolicyQuoteInqRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PersPkgPolicyAddRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PersPkgPolicyQuoteInqRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PersUmbrellaPolicyAddRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PersUmbrellaPolicyQuoteInqRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="WatercraftPolicyAddRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="WatercraftPolicyQuoteInqRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="BOPPolicyAddRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="BOPPolicyQuoteInqRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlAutoPolicyAddRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlAutoPolicyQuoteInqRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlDriverScheduleSubmitRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlNamedInsuredAndLocationScheduleSubmitRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlPropertyScheduleSubmitRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlUmbrellaUnderlyingCoverageScheduleSubmitRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlAutoScheduleSubmitRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="ErrorsAndOmissionsPolicyAddRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="ErrorsAndOmissionsPolicyQuoteInqRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="GeneralLiabilityScheduleSubmitRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="WorkCompPolicyAddRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="WorkCompPolicyQuoteInqRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="WorkCompScheduleSubmitRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="DwellFirePolicyModRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="HomePolicyModRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PersAutoPolicyModRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PersInlandMarinePolicyModRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PersPkgPolicyModRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PersUmbrellaPolicyModRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="WatercraftPolicyModRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="BOPPolicyModRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlAutoPolicyModRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="ErrorsAndOmissionsPolicyModRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="WorkCompPolicyModRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="DirectorsAndOfficersPolicyAddRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="DirectorsAndOfficersPolicyQuoteInqRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="DirectorsAndOfficersPolicyModRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="WorkCompProofCoverageAddRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="WorkCompProofCoverageModRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PolicySyncRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="GeneralLiabilityPolicyAddRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="GeneralLiabilityPolicyModRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="GeneralLiabilityPolicyQuoteInqRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlPropertyPolicyAddRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlPropertyPolicyModRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlPropertyPolicyQuoteInqRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlPkgPolicyAddRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlPkgPolicyModRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlPkgPolicyQuoteInqRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="EPLIPolicyAddRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="EPLIPolicyModRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="EPLIPolicyQuoteInqRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="ViewInqRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="FarmPolicyQuoteInqRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="FarmPolicyModRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="FarmPolicyAddRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlUmbrellaPolicyAddRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlUmbrellaPolicyQuoteInqRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlUmbrellaPolicyModRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PremiumAuditNotificationAddRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="BoilerMachineryPolicyAddRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="BoilerMachineryPolicyModRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="BoilerMachineryPolicyQuoteInqRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CrimePolicyAddRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CrimePolicyQuoteInqRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CrimePolicyModRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlInlandMarinePolicyAddRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlInlandMarinePolicyModRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlInlandMarinePolicyQuoteInqRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="AircraftPolicyAddRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="AircraftPolicyModRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="AircraftPolicyQuoteInqRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="AirportFBOPolicyAddRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="AirportFBOPolicyModRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="AirportFBOPolicyQuoteInqRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="AviationPkgPolicyAddRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="AviationPkgPolicyModRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="AviationPkgPolicyQuoteInqRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="HangarLiabilityPolicyAddRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="HangarLiabilityPolicyModRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="HangarLiabilityPolicyQuoteInqRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="ProductsLiabilityPolicyAddRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="ProductsLiabilityPolicyModRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="ProductsLiabilityPolicyQuoteInqRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="AircraftPolicyFullImageNotifyRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="AirportFBOPolicyFullImageNotifyRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="HangarLiabilityPolicyFullImageNotifyRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="AviationPkgPolicyFullImageNotifyRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="BoilerMachineryPolicyFullImageNotifyRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="BOPPolicyFullImageNotifyRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlAutoPolicyFullImageNotifyRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CrimePolicyFullImageNotifyRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlInlandMarinePolicyFullImageNotifyRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="DirectorsAndOfficersPolicyFullImageNotifyRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="EPLIPolicyFullImageNotifyRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="ErrorsAndOmissionsPolicyFullImageNotifyRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="GeneralLiabilityPolicyFullImageNotifyRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="ProductsLiabilityPolicyFullImageNotifyRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlUmbrellaPolicyFullImageNotifyRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="WorkCompPolicyFullImageNotifyRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="DwellFirePolicyFullImageNotifyRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="HomePolicyFullImageNotifyRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PersAutoPolicyFullImageNotifyRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PersInlandMarinePolicyFullImageNotifyRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PersPkgPolicyFullImageNotifyRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="PersUmbrellaPolicyFullImageNotifyRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="WatercraftPolicyFullImageNotifyRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="FarmPolicyFullImageNotifyRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlPkgPolicyFullImageNotifyRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CommlPropertyPolicyFullImageNotifyRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="VehicleInsuranceInqRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="FinancialResponsibilityNotifyRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CyberLiabilityPolicyAddRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CyberLiabilityPolicyFullImageNotifyRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CyberLiabilityPolicyModRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="CyberLiabilityPolicyQuoteInqRs" minOccurs="1" maxOccurs="1"/>
    </xsd:choice>
  </xsd:group>
  <xsd:group name="PSWDENTITY">
    <xsd:choice>
      <xsd:element ref="Pswd" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="EncryptedPswd" minOccurs="1" maxOccurs="1"/>
    </xsd:choice>
  </xsd:group>
  <xsd:group name="SIGNONENTITY">
    <xsd:choice>
      <xsd:element ref="SignonPswd" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="SignonCert" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="SignonTransport" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="SessKey" minOccurs="1" maxOccurs="1"/>
    </xsd:choice>
  </xsd:group>
  <xsd:group name="SURETYSVCRQ_CHOICE">
    <xsd:choice>
      <xsd:group ref="SURETYSVCRQMSGS" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:group ref="SURETYSVCSPIRQMSGS" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:choice>
  </xsd:group>
  <xsd:group name="SURETYSVCRQMSGS">
    <xsd:choice>
      <xsd:element ref="SuretyReportExecutionAddRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="SuretyBondModRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="SuretyBondPartialImageCancelRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="SuretyBondPartialImageReinstateRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="SuretyBondRenewRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="SuretyBondInqRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="SuretyBondSyncStatusRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="SuretyBondContractAuditRq" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="SuretyBondFullImageNotify" minOccurs="1" maxOccurs="1"/>
    </xsd:choice>
  </xsd:group>
  <xsd:group name="SURETYSVCRS_CHOICE">
    <xsd:choice>
      <xsd:group ref="SURETYSVCRSMSGS" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:group ref="SURETYSVCSPIRSMSGS" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:choice>
  </xsd:group>
  <xsd:group name="SURETYSVCRSMSGS">
    <xsd:choice>
      <xsd:element ref="SuretyReportExecutionAddRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="SuretyBondModRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="SuretyBondPartialImageCancelRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="SuretyBondPartialImageReinstateRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="SuretyBondRenewRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="SuretyBondInqRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="SuretyBondSyncStatusRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="SuretyBondContractAuditRs" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="SuretyBondFullImageNotifyRs" minOccurs="1" maxOccurs="1"/>
    </xsd:choice>
  </xsd:group>
  <xsd:group name="SURETYSVCSPIRQMSGS">
    <xsd:choice>
      <xsd:element ref="SuretyBondRenewListNotifyRq" minOccurs="1" maxOccurs="1"/>
    </xsd:choice>
  </xsd:group>
  <xsd:group name="SURETYSVCSPIRSMSGS">
    <xsd:choice>
      <xsd:element ref="SuretyBondRenewListNotifyRs" minOccurs="1" maxOccurs="1"/>
    </xsd:choice>
  </xsd:group>
  <xsd:element name="ACORD" type="ACORD_Type"/>
  <xsd:element name="DeleteUserRq" type="DeleteUserRq_Type"/>
  <xsd:element name="DeleteUserRs" type="DeleteUserRs_Type"/>
  <xsd:element name="SignoffRq" type="SignoffRq_Type"/>
  <xsd:element name="SignoffRs" type="SignoffRs_Type"/>
  <xsd:element name="SignonRq" type="SignonRq_Type"/>
  <xsd:element name="SignonRs" type="SignonRs_Type"/>
  <xsd:element name="AccountingSvcRq" type="AccountingSvcRq_Type"/>
  <xsd:element name="AccountingSvcRs" type="AccountingSvcRs_Type"/>
  <xsd:element name="BaseSvcRq" type="BaseSvcRq_Type"/>
  <xsd:element name="BaseSvcRs" type="BaseSvcRs_Type"/>
  <xsd:element name="ClaimsSvcRq" type="ClaimsSvcRq_Type"/>
  <xsd:element name="ClaimsSvcRs" type="ClaimsSvcRs_Type"/>
  <xsd:element name="CommonSvcRq" type="CommonSvcRq_Type"/>
  <xsd:element name="CommonSvcRs" type="CommonSvcRs_Type"/>
  <xsd:element name="InsuranceSvcRq" type="InsuranceSvcRq_Type"/>
  <xsd:element name="InsuranceSvcRs" type="InsuranceSvcRs_Type"/>
  <xsd:element name="SuretySvcRq" type="SuretySvcRq_Type"/>
  <xsd:element name="SuretySvcRs" type="SuretySvcRs_Type"/>
  <xsd:element name="Certificate" type="BINARY"/>
  <xsd:element name="ClientApp" type="ClientApp_Type"/>
  <xsd:element name="CustId" type="CustId_Type"/>
  <xsd:element name="CustPswd" type="CustPswd_Type"/>
  <xsd:element name="EncryptedPswd" type="BINARY"/>
  <xsd:element name="ProxyClient" type="ProxyClient_Type"/>
  <xsd:element name="SignonCert" type="SignonCert_Type"/>
  <xsd:element name="SignonPswd" type="SignonPswd_Type"/>
  <xsd:element name="SignonTransport" type="SignonTransport_Type"/>
  <xsd:element name="Status" type="Status_Type"/>
</xsd:schema>
